Q1. What is a database? Differentiate between SQL and NoSQL databases.

An organised group of data that can be viewed, maintained, and updated is known as a database. There are two types of databases: SQL and NoSQL. Since SQL databases are table-based, they are better suited for systems that were created in the past for a relational structure or for multi-row transactions, such accounting systems. Contrarily, NoSQL databases are either document-based, graph databases, wide-column stores, or key-value pair stores. They have unstructured data, which prevents preexisting models from being used to analyse it.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Data Definition Language is what it stands for. In order to define the database schema, it is used. SQL uses DDL commands such as CREATE, DROP, ALTER, and TRUNCATE. To create a new database or table, use the CREATE command. A table or database can be deleted with the DROP command. A database or table's structure can be changed using the ALTER command. To eliminate all records from a table, use TRUNCATE.

In [ ]:
CREATE TABLE Employees (ID INT,Name VARCHAR(50),Salary DECIMAL(10, 2));
DROP TABLE Employees;
ALTER TABLE Employees
ADD Department VARCHAR(50);
TRUNCATE TABLE Employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. It is used to manipulate data in a database. DML commands include INSERT, UPDATE, and DELETE.

- INSERT: It is used to add new rows or records in the existing table. For example, if you want to add a new student record in the student table, you can use the following command:

```sql
INSERT INTO student (id, name, age) VALUES (1, 'John', 20);
```

- UPDATE: It is used to change the existing values of the column. For example, if you want to update the age of John from 20 to 21 in the student table, you can use the following command:

```sql
UPDATE student SET age = 21 WHERE name = 'John';
```

- DELETE: It is used to delete table rows based on the specified conditions. For example, if you want to delete all records of students who are older than 25 years from the student table, you can use the following command:

```sql
DELETE FROM student WHERE age > 25;
```

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is used to retrieve data from a database. DQL has only one command: SELECT.

The SELECT command is used to retrieve data from one or more tables in a database. For example, if you want to retrieve all the data from the employee table, you can use the following command:

```sql
SELECT * FROM employee;
```

This command will retrieve all columns and all rows from the table.

You can also select specific fields from one or more tables, sort and group results, create column and table aliases, and use filters to narrow down the results of a search³.

Q5. Explain Primary Key and Foreign Key.

An individual row in a table is uniquely identified by a column or collection of columns known as the primary key. It is employed to protect data integrity and guarantee that every table row is distinct. For instance, the primary key for a student table may be the student ID.

A column or group of columns in one table that refers to the primary key in another table is known as a foreign key. It is utilised to enforce referential integrity between two tables by connecting them together. For instance, if you have a student table and a course table, you may link the student table to the course table by using the student ID as the foreign key.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

The cursor() method creates a cursor object which is used to execute SQL statements. The execute() method executes an SQL statement. In the example above, the SQL statement is “SELECT * FROM customers”. The fetchall() method fetches all rows from the last executed statement.

In [6]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

FROM clause,
JOIN clause
ON clause
OUTER clause,
WHERE clause,
GROUP BY clause,
HAVING clause,
SELECT clause,
DISTINCT clause,
ORDER BY clause,
TOP clause,